@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-sm {
    margin-top: 20px;
}

.logo {
    border-radius: 40px;
    box-shadow: 2px 2px 7px 1px #000;
}


.header h1 {
    font-size: 24px;
    font-family: 'Alexandria', sans-serif;
    margin: 20px;

}

.social-links__div {
    margin-top: 10px;
}

a {
    background-color: #121212;
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s;
}

a:hover {
    background-color: #262626
}

.link-test{
    color: #fff;
}

.btn:hover {
    color: #fff;
}

.social-links img {
    width: 30px;
}

button {
    border: 0;
    /* background-color: #F8F9FA; */
}