* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-sm {
    margin-top: 20px;
}

.logo{
    border-radius: 40px;

}

.social-links ul {
    list-style-type: none;
}

.social-links li {
    margin-top: 10px;
}

.social-links img{
    width: 30px;
}


.div-btn {
    margin-top: 10px;
}

button{
    border: 0;
    background-color: #F8F9FA;
}